html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100%;
  }

.Layoutprincipal {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 100%;
}

.Layoutheader{
    display: flex;
    height: 10%;
    width: 100%;
} 

.Layoutcontainer{
    height: 80%;
    width: 100%;
    display: flex;

}

.Layoutfooter{
    height: 10%;
    width: 100%;
}

.Layoutsidebar{
    
    width: 20%;
    height: 100%;
    border: 1px solid black;
}

.Layoutmain{
    width: 80%;
    height: 100%;
    padding: 1px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
