.Headermenu {
    display: flex;
    background-color: #393d3f;
    color: #FFFFFF;
    width: 100%;
}
.Headermenu p {
    width: 15%;
	margin-left:20px;
    margin-top: 0;
    padding-top: 28px;
}
.Headermenu button {
    width: 100%
}

#HeaderDropdown{
    width: 15%;
    display: flex;
}
.Headeropc-menu {
    display: flex;
    width: 85%;
    justify-content: flex-end;
    height: 100%;
}

.Headeropc-menu div{
    height: 100%;
}
.Headeropc-menu div a{
    text-decoration: none;
    color: #FFFFFF;
    height: 100%;
}
.Headeropc-menu p{
    text-align: center;
    margin-left: 0px;
    width: 80px;
}
.Headeropc-menu p:hover{
    background-color: #62929E;
}