.Principalprincipal {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr;
    /* Una columna */
    align-items: center;
    /* Esto alinea verticalmente los elementos */
    background: #ccc;
    height: 100%;
}

.PrincipalcontenedorP {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ccc;
    flex-direction: column;
}


